repos:
  - repo: local
    hooks:
      - id: compile-requirements
        name: Compile requirements
        entry: pip-compile requirements-dev.in --output-file requirements-dev.txt
        language: system
        files: requirements-dev.in
